export const API_BASE_URL = "${API_BASE_URL}"
export const API_TOKEN_LIFESPAN = "${JWT_ACCESS_TOKEN_EXPIRES:-1209500}"
export const LONG_POLLING_DELAY = "${LONG_POLLING_DELAY:-1}"
export const DEFAULT_MESSAGES_QUANTITY = "${DEFAULT_MESSAGES_QUANTITY:-20}"