@font-face {
  font-family: 'Muller';
  src: url('../../assests/fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --bg-color: #1a1d21;
    --bg-secondary-color: #212529;
    --text-color: #ffffff;
    --accent-color: #4c9655;
    --card-color: #343a40;
    --unread-message-color: #343a40;
    --read-message-color: #495057;
    --secondary-text: #aaacaa;
    
    --primary-hover-bg: #59e481;
    --primary-hover-border: #59e481;
  }
  
  body {
    font-family: 'Muller', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .input-field-style {
    color: var(--text-color);
    background-color: var(--card-color);
  }
  .input-field-style::placeholder {
    color: var(--text-color);
  }
  .input-field-style:focus {
    background-color: var(--card-color);
    color: var(--text-color);
    outline: none;
    box-shadow: none;
  }
  .layers-style {
    background-color: var(--bg-color);
  }
  .interactive-style {
    background-color: var(--bg-secondary-color);
  }

  /* Messages */
  .unread-message {
    background-color: var(--unread-message-color);
  }
  .read-message {
    background-color: var(--read-message-color);
  }

  /* Text */
  .primary-text-style {
    color: var(--text-color)
  }
  .secondary-text-style {
    color: var(--secondary-text)
  }
  .accent-text-style {
    color: var(--accent-color)
  }

  /* Modal window */
  .modal-body {
    background-color: var(--bg-color);
  }
  .modal-header {
    background-color: var(--bg-secondary-color);
  }
  .modal-title {
    color: var(--text-color);
  }

  .conversation-card {
    background-color: var(--card-color);
  }
  .unread-badge {
    background-color: var(--accent-color);
  }

  /*Buttons*/
  .btn-primary {
    background-color: var(--card-color);
    border-color: var(--accent-color);
    color: var(--text-color);
  }
  .btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--card-color);
  }