@font-face {
  font-family: 'Muller';
  src: url('../../assests/fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --bg-color: #1f1f1f;
    --text-color: #ffffff;
    --accent-color: #47704c;
    --card-color: #a1a1a1;
    --secondary-text: #767876;

    /*Primary btn colors*/
    --primary-bg: #47704c;
    --primary-border: #47704c;
    --primary-text: #767876;
    --primary-hover-bg: #59e481;
    --primary-hover-border: #59e481;
  }
  
  body {
    font-family: 'Muller', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .modal-body {
    font-family: 'Muller', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .modal-header {
    background-color: var(--secondary-text) !important;
  }
  .modal-title {
    color: var(--text-color);
  }
  input {
    color: var(--text-color) !important;
    background-color: var(--secondary-text) !important;
  }
  .card {
    background-color: var(--card-color);
  }

  /*Buttons*/
  .btn-primary {
    background-color: var(--primary-bg) !important;
    border-color: var(--primary-border) !important;
    color: var(--primary-text) !important;
  }
  
  .btn-primary:hover {
    background-color: var(--primary-hover-bg) !important;
    border-color: var(--primary-hover-border) !important;
  }
  .text-primary {
    color: var(--text-color) !important
  }